* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  background-color: #35548b;
}

body {
  background-color: #4369b2;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

h3 {
  color: #fff;
}

.left {
  gap: 1rem;
  display: flex;
}

.micro {
  color: #fff;
}

.setting {
  color: #fff;
}

.containerCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  width: 100%;
  gap: 1rem;
}

.cardCoin {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  background-color: #3E61A3;
  gap:1rem;

}

.arrow-right {
  align-self: flex-end;
  margin-bottom: 0.5rem;
}

.coinlogo {
  width: 80%;
  height: auto;
}

.symbol {
  display:flex;
  flex-direction: column;
  color:#fff;
 
}